@model IEnumerable<TP03SW2.Models.Container>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-primary" style="margin:15px" asp-action="Create">Criar novo Container</a>
</p>
<table class="table table-hover " >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamanho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BL.BLId)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ContainerId">Detalhes</a> |
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ContainerId">Editar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ContainerId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
